<%= if @current_user do %>

  <%= render TaskTrackerWeb.TaskView, "new.html",
    Map.put(assigns, :action, task_path(@conn, :create)) |>
      Map.put(:cancel, false) %>

  YourTasks

  <%= Enum.map Enum.sort(@tasks, fn t1, t2 -> t1.id > t2.id end), fn task -> %>
    <%= if task.user_id == @current_user.id do %>
      <%= render TaskTrackerWeb.TaskView, "show.html", Map.put(assigns, :task, task) %>
    <% end %>
  <% end %>

<% end %>
