/* This file is for your main application css. */
@import "bootstrap";

.card-body {
  background-color: #b5cde1;
}

.white {
  color: White;
}

.bp {
  background-color: #6a9bc3;
}

.bp:hover {
  background: #386890;
}

.bs {
  background-color: DarkGrey;
}

.bs:hover {
  background: Grey;
}

.bd {
  background-color: LightCoral;
}

.bd:hover {
  background: FireBrick;
}

.alice-blue {
  background-color: AliceBlue;
}

.incomplete {
  background-color: MistyRose;
}
